{% extends "todo_list/base.html" %}


{% block content %}

<title>Tasks for {{view.kwargs.username}}</title>
<h1 class="mb-3"> Tasks for {{view.kwargs.username}}</h1>
 
 {% for task in tasks %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-tasks' task.assigner.username %}">{{ task.assigner}}</a>
      <small class="text-muted">{{task.due}}</small>
      
    </div>
    <h2>
    <a class="article-title" href="{% url 'task-detail' task.id %}">{{task.name}}</a> 
  </h2>
    <p class="article-content">{{ task.description }}</p>
  </div>

</article>

  
 {% endfor %}
{% endblock content %}

{% block content2 %}
<div class="col-md-4">
<div class="content-section">
<h3>Completed</h3>

{% for task in done %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      
      <small class="text-muted">{{task.due}}</small>
    </div>
    <h2>
    <a class="article-title" href="{% url 'task-detail' task.id %}">{{task.name}}</a> 
  </h2>
    <p class="article-content">{{ task.description }}</p>
  </div>

</article>
{% endfor %}

</div>
</div>
{% endblock content2 %}