{% extends "asend/base.html" %}
{% block content %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'home' %}">{{first.creator.username}}</a>
      <small class="text-muted"><font color="red">{{first.value}} {{first.metric}}</font></small>
      
    <a class="btn btn-outline-secondary btn-sm mt-0 mb-1" href ="{%url 'entry-detail' first.id%}">Fullscreen</a>
    </div>
    <h2>
    <a class="article-title" href="{% url 'category-detail' first.category.id %}">{{first.category.name}}</a> 
    
  </h2>
    <p class="article-content">{{ first.video }}</p>
  </div>

</article>



{% endblock content %}

